<%= content_for :title do %>
  <%= "#{@user['name']}的生活轨迹 － 地图" %>
<% end -%>

<div id="mapview">
  <div id="infobox1">
  <div class="_infobox">
    <a href="" target="_blank" class="clickme"><img class="thumbnails" src=""></a>
    <div class="right_col">
      <div class="caption"></div>
      <div class="date">
        <%= image_tag "share/clock_10x10.png" %>
        </div>
      <div class="address">
        <%= image_tag "share/marker_10x10.png" %>
        </div>
    </div> 
    <div class="clearfix"></div>
    <%= image_tag "share/tri_d_11x6.png", :class => "tri_d" %>
  </div>
  </div>
  <div id="t_shadow"></div>
  <div id="map_canvas" style="height: 600px; width: 1023px;"></div>
  <%= image_tag "people/map_b_mask.png", :id => "b_shadow" %>
</div>
<script type="text/javascript">
    function addInfoBox(content, marker, map, m) {
      var myOptions = {
                  disableAutoPan: false
                  ,maxWidth: 0
                  ,pixelOffset: new google.maps.Size(-23, -57)
                  ,zIndex: null
                  ,boxStyle: { 
                    width: "280px"
                   }
                  ,closeBoxMargin: "10px 2px 2px 2px"
                  ,closeBoxURL: ""
                  ,infoBoxClearance: new google.maps.Size(1, 1)
                  ,isHidden: false
                  ,pane: "floatPane"
                  ,enableEventPropagation: false
          };

      var _ib = $("#mapview > #infobox1").clone();
      $(_ib).find(".thumbnails").attr("src", m.items[0].photo.url_s)
        .end().find(".caption").text(m.name)
        .end().find(".date").append(m.created_at)
        .end().find(".address").append(m.address)
        .end().find(".clickme").attr("href", "/moments/" + m.id + "#id=" + m.id)

      var ib = new InfoBox(myOptions);
      ib.setContent(_ib.html());
      ib.open(map, marker);
    }
      function initialize() {
        var latlng = new google.maps.LatLng(1.289566,103.847267);
        var options = {  
            zoom: 15,  
            center: latlng,  
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        }; 

        var map = new google.maps.Map(document.getElementById('map_canvas'), options);  

        $.getJSON("/people/<%= @user['id'] %>/moments/location.json", function(moments) { 
          moments = moments.data
          var bounds = new google.maps.LatLngBounds();
          for (var i = 0, moments_count = moments.length; i < moments_count; i++) {
            if (moments[i].lat == null || moments[i].lng == null || parseInt(moments[i].lat) == 0 || parseInt(moments[i].lng) == 0)  {
              continue;
            }
            var loc = new google.maps.LatLng(moments[i].lat, moments[i].lng);
            var marker = new google.maps.Marker({
             map: map,
             position: loc,
             visible: true
            });
            bounds.extend(loc);
            addInfoBox(i, marker, map, moments[i]);
          }
          map.fitBounds(bounds);
        
        });

    }
    
    initialize();
</script>
