<div class="row date_slider">
  <a class="arrow_l theme_bgcolor"><%= image_tag "people/arrow_l.png" %></a>
  <a class="cur_date_tag theme_bgcolor" id="cur_date_tag_l"></a>
  <a class="arrow_r theme_bgcolor"><%= image_tag "people/arrow_r.png" %></a>
  <a class="cur_date_tag" id="cur_date_tag_r"></a>
</div>

<div class="wrapper_i" style="width: 100%; overflow: hidden;">
  <div class="timeline" style="overflow: hidden; width: 99999px;">
    <%= empty_timeline_items 1 -%>
    <%= timeline_items first_moment_created_at %>
    <%= empty_timeline_items 100, '~新世界~' -%>
  </div>
</div>