<%= content_for :title do %>
关于我们 - VIDA（唯达） - 你我的生活轨迹
<% end -%>

<%= content_for :meta_description do %>
Vida 在西班牙语和葡萄牙语中是Life的意思，我们以此寓意为我们的产品命名。
<%  end-%>

<div id="contact">
  <a id="follow-us" href="http://weibo.com/vidafm" onClick="javascript: pageTracker._trackPageview('clicktrack-frontpage-followus');">关注我们的新浪微博 @vida_唯达</a>
  <%= image_tag "about/contact-bg.png", :id => "bg" %>
  <div id="container">
    <%= link_to root_url do %>
      <%= image_tag "about/contact_us-logo.png", :id => "logo" %>
    <%  end -%>
    <%= form_for @feedback, :url => {:action => "create_feedback"} do |f| %>
      <%= f.text_field :from, :placeholder => "you@example.com" %> <br />
      <%= f.text_area :content %> <br />
      <%= f.submit "", :id => "feedback_submit" %>
    <% end -%>
    <div id="success-info"> <%= notice %> </div>
  </div>

  <div id="footer">
    <%= link_to "联系我们", about_url %>
    <span>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;沪ICP备10216111号-2</span>
  </div>
</div>