<%= content_for :title do %>
  VIDA（唯达） - 你我的生活轨迹
<% end -%>

<div id="android-download">
  <a id="follow-us" href="http://weibo.com/vidafm" onClick="javascript: pageTracker._trackPageview('clicktrack-frontpage-followus');"></a>
  <div id="container">
    <div id="preview-col">
      <div class="arrow-pane">
        <a href="#left" id="arrow-left"></a>
        <a href="#right" id="arrow-right"></a>
      </div>
      <div class="layout">
        <div class="shine"></div>
        <div class="screenshots">
          <% 1.upto(4) do |e| %>
            <%= image_tag "screenshots/android/screenshot#{e}.png" %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="intro-col">
     <div id="vida-logo">
        <%= image_tag "android_logo.png" %>
        <%= image_tag "vida-tagline.png"  %>
     </div>

     <div id="version-inst">适用于Android 2.3 以上手机</div>
     <div id="download-row">
     	<div id="normal-dl">
     		<a href="/d/android" id="n_btn"></a>
				<a href="/d/android" name="VIDA" 
			    onclick="return wdapi_apkdl(this);" title="通过豌豆荚一键安装 VIDA" id="w_btn"></a>
     	</div>
			<%= image_tag "android_b_btn.png", :id => "qr-dl", :class => "col", :style => "height: 157px; margin: 10px;" %>
     </div>
    </div>
  </div>

  <div id="footer">
    <%= link_to "联系我们", about_url %>
    <span>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;沪ICP备10216111号-2</span>
  </div>
</div>

<script type="text/javascript">
  $(".screenshots").cycle({
      prev: '#arrow-left',
      next: '#arrow-right'
    });
</script>