  <div class="moment">
    <div class="info">
      <h2><%= link_to moment["name"], moment_path(moment["id"]), :class => "title", :target => "_blank" %></h2>
      <h2 class="addr_date"> <%= "#{moment["location"]} | " if moment["location"] %> <%= time_ago_in_words Time.parse moment["modified_at"] %>以前更新</h2>
      <%= link_to '点击查看更多 >>', moment_path(moment["id"]), :class => "more", :target => "_blank" %> 
      <h2 class="num"><%= moment["items_count"] %></h2>
    </div>
    <div class="photos">
        <div class="left_box">
        <%= render :partial => "activities/thumbnail", :locals => {:activity => moment["items"][0]} %>
        </div>
        <div class="right_box">
        <% moment["items"][1..4].each do |activity| %>
          <%= render :partial => "activities/thumbnail", :locals => {:activity => activity} %>
        <% end -%>
        </div>
      </div>
  </div>