<%= content_for :title do %>
  <%= @moment["data"]["name"] %> - VIDA（唯达） - 你我的生活轨迹
<% end -%>


<div id="bg_white"> </div>
<div id="bg_black"> </div>

<div id="left_bar"> 
	<%=image_tag("moments/logo_vida.png")%>
	<div id="photo_layout"></div>
  <div id="comment_input"></div>
	<div id="comment"></div>
</div>

<div id="right_bar"> 
	<div id="login_bar"> 
  <% if @current_user.nil? %>
		<div id="qq_icon" class="bar"></div>
		<div id="renren_icon" class="bar"></div>
		<div id="douban_icon" class="bar"></div>
		<%= link_to "", "/auth/tsina", :class => "bar", :id => "weibo_icon" %>
		<div id="login">
			<%=image_tag("moments/login.png")%>
		</div>
  <% else %>
    <%= link_to("退出", "/auth/logout", :id => "current_user_logout")  %>
    <div id="current_user_name"><%=@current_user['name']%></div>
    <%=image_tag(@current_user['avatar_file'],:id => "current_user_photo") %>
  <% end %>
	</div>
	<div id="center_bar">
		<div id="moment_name">
			 <%= @moment['data']['name'] %>
		</div>
		<div id="moment_address">
			<%= @moment["data"]["location"] || "未知地点" %>  |  <%= Time.parse(@moment["data"]["created_at"]).strftime("%Y.%m.%d") %>
		</div>
		<div id="photo_list">
			
		</div>
		<div style="clear:both"></div>
		<div id="page">
				<div class="page_item"></div>
				<div class="page_item"></div>
		</div>
		<div id="photo_massage">
		  <div id="angle_bar">
        <div id="angle_icon"></div>
      </div>
      <div id="massage_bar"></div>
		</div>
	</div>
	<div id="download_bar">
		<div id="download_icon"><%=image_tag("moments/download_icon.png")%></div>
		<div id="download_iphone"></div>
		<div id="download_android"></div>
	</div>
</div>

<p id="copyright">Copyright © 2011 vida.fm | <a href="http://vida.fm/about">About VIDA</a> | 沪ICP备10216111号-2</p>

<script type="text/template" id="activity-template">
  <div id="next_page"></div>
  <div id="last_page"></div>
  <!-- 放置图片 -->
  <img id="photo" src="{{ photo.url_l }}" alt="{{ description }}" />
  <!-- 喜欢 -->
  {- if (liked==true) { -}
    <div id="liked_icon"></div>
  {- }else{ -}
    <a href="/activities/{{ id }}/like" data-method="put" data-remote="true" id="like_icon"></a>
  {- } -}
  {- if (likes_count > 0){ -} 
  {- for (r in likes_users) { -}
    <img alt="{{ likes_users[r].name }}" src="{{ likes_users[r].avatar_file }}" class="like_user user">
  {- } -}
  {- } -}
  <div id="like_number">{{likes_count}}</div>
</script>


<script type="text/template" id="info-template">
  <!-- 图片信息 -->
  <img id="user_photo" class="user" alt="{{ user.name }}" src="{{ user.avatar_file }}" data-user-id="{{ user.id }}" />
  <div id="content_layout">
    <div id="user_massage">
      <a href="/people/{{ user.id }}" id="user_name" data-user-id="{{ user.id }}">{{ user.name }}</a>
      <div id="photo_data"> {{ new Date(created_at).format("yyyy.m.d") }} </div>
    </div>
    <div id="content">
      {{ description }} 
    </div>
  </div>
</script>



<script type="text/javascript">
  $(function() {
    //当前用户
    current_user =  <%= raw (@current_user || {}).slice("avatar_file", "name", "id").to_json %>;
    // 把当前页地址放到cookies里边，以便登陆后返回本页。
    $.cookie('refer_url', window.location.href, { expires: null, path: '/' });

    var now_photo_number=null;

    // 获取并放置评论
    fetchAndSetComment = function (activity_id) {
      $.get("/activities/" + activity_id + "/comments.js", function() {
        //如果没有登入，触发提醒登入
        if ((typeof(current_user) == "undefined") || _.isEmpty(current_user)) {
          $("#new_comment").submit(function(e) {
            e.preventDefault();
            $.cookie('comment-content', $("#new_comment #content").val(), { expires: null, path: '/' });
            alert("请登陆");
          })
          $("#like_icon").click(function(e) {
            e.preventDefault();
            alert("请登入");
          });
        }
        //输入框默认值
        $("#new_comment #content").focus(function(e){
          if ($("#new_comment #content").val()=="写评论...") {
            $("#new_comment #content").val("");
            $("#new_comment #content").css("color","#4D4D4D");
          }
        });
        $("#new_comment #content").blur(function(e){
          if ($("#new_comment #content").val()=="") {
            $("#new_comment #content").val("写评论...");
            $("#new_comment #content").css("color","#B3B3B3");
          }
        });

        //回复按钮
        $('.content_layout').mouseenter(function() {
          $('.reply',this).css("visibility", "visible");
        });
        $('.content_layout').mouseleave(function() {
          $('.reply',this).css("visibility", "hidden");
        });
        $('.reply').click(function(){
          $("#new_comment #content").val('@'+$(this).parent().children('.user_massage').children('.user_name').html()+' '); 
          $("#new_comment #content").css("color","#4D4D4D"); 
        });
        // 如果登陆之前有评论，这里可以保留下来。
        if ($.cookie('comment-content')) {
          $("#new_comment #content").val($.cookie('comment-content'));
          $.cookie("comment-content", null, { expires: null, path: '/' });
        }
      });
    }

    // hack喜欢过
    setLiked = function(activity, current_user) {
      var user = _.find(activity.likes_users, function(user) { return user.id == current_user.id });
      if (!_.isUndefined(user)) {
        activity.liked = true;
      }
    };

    //载入模版  
    setActivity = function(id){
      var el = $("#photo_layout"),
          tpl = _.template($("#activity-template").html()),
          infotpl = _.template($("#info-template").html()),
          activity = _.find(activities, function(i){
            return i.id == id;
          });
      if (typeof activity == "undefined"){
        activity = activities[0];
      }
      if (typeof current_user != "undefined")
        setLiked(activity, current_user);
      
      for(i=0;i<activities.length;i++){
        if (activity == activities[i]) {
          now_photo_number = i;
          console.log(i);
        }
      }  
      
      
      $("#photo_layout").html( tpl( activity) );
      $("#massage_bar").html( infotpl( activity) );

      fetchAndSetComment(activity.id);

     };
    
    // 页面载入时先载缩略图，并放置照片。
    var activity_id = $.bbq.getState("id"), moment_id = <%= @moment["data"]['id'] %>;
    $.get("/moments/" + moment_id + ".js?activity_id=" + activity_id, function() {
        setActivity(activity_id);
    });
        
    // hash改变(点击或者历史记录后退)时，放置对应照片。
    $(window).bind("hashchange", function() {
      var activity_id = $.bbq.getState("id"), moment_id = <%= @moment["data"]['id'] %>;
      setActivity(activity_id);
    });    


  });
</script>




