<%= content_for :title do %>
  活动详情 - <%= @moment["data"]["name"] %> - VIDA（唯达） - 你我的生活轨迹
<% end -%>
<%= content_for :meta_description do %>
  <%= "#{@moment['data']['name']}, #{@moment['data']['participators']}正在用 vida 记录生活轨迹"  %>
<%  end-%>

<div id="signup-modal" class="modal hide fade">
  <%= link_to "", "#", :id => "close-modal", :class => "close-modal" %>

  <%= link_to "", "/auth/tsina", :class => "signup-btn", :id => "weibo_login" %>

  <%= link_to "", "/auth/douban", :class => "signup-btn", :id => "douban_login" %>
</div>


<div id="moment_show">
  <div class="moment">
    <h1> <%= @moment['data']['name'] %> </h1>
    <div class="photos">
      <div class="left_box"></div> 
      <div class="right_box">
        <div class="moment_info_box">
          <div class="box_sec creator">
            <%= link_to timeline_person_url(@moment["data"]["user"]['id']) do %>
              <%= image_tag @moment["data"]["user"]['avatar_file'], "data-user-id" => @moment["data"]["user"]["id"], :alt => @moment["data"]["user"]["name"]  %>
            <% end -%>
            <div class="label">创建者</div>
            <%= link_to timeline_person_url(@moment["data"]["user"]['id']) do %>
            <div class="name" data-user-id="<%= @moment["data"]["user"]["id"] %>"><%= @moment["data"]['user']['name'] %> </div>
            <%  end -%>
          </div>
          <div class="box_sec venue_date">
            <div class="venue">
              <%= image_tag "moments/annotation_w.png" %>
              <div> <h2><%= @moment["data"]["location"] || "未知地点" %></h2> </div>
              <div class="clearfix"></div>
            </div>
            <div class="date clearfix">
              <%= image_tag "moments/clock_w.png" %>
              <div> <%= time_ago_in_words Time.parse @moment["data"]["modified_at"] %>以前更新</div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="box_sec"></div>
        </div>
        <div class="photo_list">
          <div class="photo_num">
            <%= image_tag 'moments/photos.png' %><span><%= @moment['data']['items_count'] %></span>
          </div>
          <div id="thumbnails"></div>
          <div id="pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<script type="text/template" id="activity-template">
  {- if (activity_type == 3) { -}
      <!-- Begin VideoJS -->
  <div class="video-js-box">
    <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
    <video class="video-js" width="511" height="511" controls preload poster="{{ photo.url_l }}" alt="{{ description }}">
      <source src="{{ video.url_iphone }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
      <!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
      <object class="vjs-flash-fallback" width="511" height="511" type="application/x-shockwave-flash"
        data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
        <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
        <param name="allowfullscreen" value="true" />
        <param name="flashvars" value='config={"playlist":["{{ photo.url_l }}", {"url": "{{ video.url_iphone }}","autoPlay":false,"autoBuffering":true}]}' />
        <!-- Image Fallback. Typically the same as the poster image. -->
        <img src="{{ photo.url_l }}" width="511" height="511" alt="Poster Image"
          title="No video playback capabilities." />
      </object>
    </video>
  </div>
  {- } else { -}
    <img class="item-content" src="{{ photo.url_l }}" alt="{{ description }}" />
  {- } -}
  


  <!-- 灰色的bar -->
  <div class="tools">
    <div id="top_shadow"></div>
    <div class="user_avatar" ><a href="/people/{{ user.id }}"><img alt="{{ user.name }}" src="{{ user.avatar_file }}" data-user-id="{{ user.id }}" /></a>
  </div>
    <div class="info">
      <a href="/people/{{ user.id }}" class="photo_creator" data-user-id="{{ user.id }}">{{ user.name }}</a>
      <div class="photo_caption">
        {{ description }} | {{ new Date(created_at).format("yyyy年m月d日 HH:MM") }} 
      </div>
      <div class="clearfix"></div>
    </div>
    <a href="/activities/{{ id }}/like" data-method="put" data-remote="true" id="like" class="{{ liked? 'liked' : ''}}">
      <%= image_tag "share/like_white_42x30.png" %>
      <div class="like_num">{{ likes_count }}</div>
    </a>
  </div>

  <!-- 喜欢 -->
  <div id="likeship">
    {- if (likes_count > 0) { -}  
    <div class="user_avatar">
      {- for (r in likes_users) { -}
        <a href="/people/{{ likes_users[r].id }}" data-user-id="{{ likes_users[r].id}}"><img alt="{{ likes_users[r].name }}" src="{{ likes_users[r].avatar_file }}"></a> 
      {- }-}
    </div>
    <h3>喜欢这张照片</h3>
    {- } -}
  </div>

  <div id="comments"></div>
  <div id="comment-form"> 
   </div>
</script>


<script type="text/javascript">
  $(function() {
    // 把当前页地址放到cookies里边，以便登陆后返回本页。
    $.cookie('refer_url', window.location.href, { expires: null, path: '/' });


    // 获取并放置评论
    fetchAndSetComment = function (activity_id) {
      $.get("/activities/" + activity_id + "/comments.js", function() {
        if ((typeof(current_user) == "undefined") || _.isEmpty(current_user)) {
          $("#new_comment input[type=submit]").attr("data-controls-modal", "signup-modal").attr("keyboard", "esc").click(function(e) {
            e.preventDefault();
            $.cookie('comment-content', $("#new_comment #content").val(), { expires: null, path: '/' });
          })
          $("a#like").attr({"data-controls-modal": "signup-modal",  "data-backdrop": "true"}).click(function(e) {
            e.preventDefault();
          });
        }
        // 如果登陆之前有评论，这里可以保留下来。
        if ($.cookie('comment-content')) {
          $("#new_comment #content").val($.cookie('comment-content'));
          $.cookie("comment-content", null, { expires: null, path: '/' });
        }
      });

    }

    // hack喜欢过
    setLiked = function(activity, current_user) {
      var user = _.find(activity.likes_users, function(user) { return user.id == current_user.id });
      if (!_.isUndefined(user)) {
        activity.liked = true;
      }
    };

    // 放置照片。
    setActivity = function (id) {
      var el = $(".left_box"), 
          tpl = _.template($("#activity-template").html()), 
          activity = _.find(activities, function(i) {
            return i.id == id;          
          });
      if (typeof activity == "undefined") {
        activity = activities[0];
      }
      if (typeof current_user != "undefined")
        setLiked(activity, current_user);


      $('a#like').popover('hide');
      $(".left_box").html( tpl( activity ) );
      if (!$.cookie('read_popover_' + gup("utm_campaign") )) {
        var campaign_id = gup("utm_campaign") || 'default';
        $.get("/misc/popover_text/" + campaign_id, function (text) {
          $("a#like:not(.liked)").attr("data-content", '<img src="' + activity.user.avatar_file + '"></img> <p>' + text.first_section + '</p> <p>' + text.second_section + '</p><a href="#" class="close-modal" id="close-like-popover"></a>').popover({
            trigger: "manual",
            placement: 'right',
            html: true
          }).popover('show');
          $("a#like.liked").popover('hide');
          $("a#close-like-popover").click(function(evt) {
            $('a#like:not(.liked)').popover("hide");
            $.cookie('read_popover_' + gup("utm_campaign"), true, { expires: null, path: '/' });
            evt.preventDefault();
          })
        })
      }
     
      // 如果是视频，就用video-js激活之
      $("video").VideoJS()

      // 点击按钮时，关闭modal
      $("#close-modal").click(function(evt) {
        evt.preventDefault(); // 阻止点击时改变hash
        $("#signup-modal").modal("hide");
      })



      $(".selected").removeClass('selected');
      $(".img_box[ref=" + activity.id + "]").addClass('selected');
      fetchAndSetComment(activity.id);
    };

    // 页面载入时先载缩略图，并放置照片。
    var activity_id = $.bbq.getState("id"), moment_id = <%= @moment["data"]['id'] %>;
    $.get("/moments/" + moment_id + ".js?activity_id=" + activity_id, function() {
      setActivity(activity_id);
    });


    // hash改变(点击或者历史记录后退)时，放置对应照片。
    $(window).bind("hashchange", function() {
      var activity_id = $.bbq.getState("id"), moment_id = <%= @moment["data"]['id'] %>;
      setActivity(activity_id);
    });

    var current_target, function_target, t1 = null, t2 = null;


    onUserNameOrAvatarHover = function (user_id, target) {
      t1 = setTimeout(function() {
        $.get('/people/' + user_id, function(data) {
          if (target[0] == current_target[0] && $("#user-info-popover").length == 0) {
              $("body").append(data);
              $("#user-info-popover").css({top: target.offset().top + target.height() - 4, left: target.offset().left})
          } else {
          }
        })  
      }, 500);
    }
    $("[data-user-id]").live("mouseenter", function(evt) {
        var user_id = $(evt.currentTarget).attr("data-user-id");
        current_target = $(evt.currentTarget);
        onUserNameOrAvatarHover(user_id, $(evt.currentTarget));
    }).live("mouseleave", function(evt) {
        current_target = $(evt.currentTarget);
        if (t1) {
          clearTimeout(t1);
          t1 = null;
        }

        t2 = setTimeout(function() {
          $("#user-info-popover").remove();
        }, 500);
    })

    $("#like.liked").live("click", function(evt){ evt.preventDefault(); alert("您已经喜欢过这张照片了。"); });

    $("#user-info-popover").live("mouseenter", function() {
      if (t2) {
        clearTimeout(t2);
        t2 = null;
      }
    }).live("mouseleave", function() {
      t2 = setTimeout(function() {
          $("#user-info-popover").remove();
      }, 500);
    })
  });
</script>