<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= yield :title %></title>
  <meta name="Description" content="<%= raw yield :meta_description %>">
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :page_specific_asset %>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try{ 
  var pageTracker = _gat._getTracker("UA-19458693-4");
  pageTracker._trackPageview();
  } catch(err) {} 
  </script>
</head>
<body>
  <script type="text/javascript">
      current_user =  <%= raw (@current_user || {}).slice("avatar_file", "name", "id").to_json %>;
  </script>
  <%= yield %>
</body>
</html>
